* { margin: 0; padding: 0; box-sizing: border-box;}

:root {
    --title-font-size: 42px;
    --main-color: #5F5FFD;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

#container {
    width: 1456px;
    height: 4096px;
    margin: 0 auto;
}

.section a {
    color: white;
    text-decoration: none;
}

.section {
    width: 100%;
    height: 819px;
}

header {
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 50px;
}

.one {
    color: white;
    background-color: #5F5FFD;
}

.content-holder {
    width: 100%;
    height: 734px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section1-content {
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.banner1 {
    position: relative;
    top: -120px;
}

.section1-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.section1-content h5 {
    margin-bottom: 50px;
}

.access-btn {
    color: var(--main-color);
    background-color: white;
    border: 1px solid white;
    padding: 15px 40px;
}

.section2-content {
    width: 540px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.section2-content h1 {
    font-size: var(--title-font-size);
}

.read-btn {
    color: var(--main-color);
    border: none;
    background-color: white;
}

.three {
    background-color: var(--main-color);
}

.section3-title {
    width: 795px;
    height: 260px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background-color: white;
}

.section3-title h1 {
    margin-left: 80px;
    font-size: var(--title-font-size);
}

.section3-content {
    width: 795px;
}

.read-btn-white {
    color: white;
    border: none;
    background-color: var(--main-color);
}

.page-division {
    height: 819px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.CH-S3 {
    justify-content: space-between;
    padding-left: 115px;
}

.section3-content-holder {
    width: 530px;
    height: 559px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 80px;
}

.section3-content p {
    width: 531px;
}

.section4-title {
    margin-left: 143px;
    font-size: var(--title-font-size);
}

.section4-content-holder img {
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 20px lightgray;
}

.section4-content-holder {
    width: 100%;
    height: 518px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 150px;
}

.clients {
    width: 1148px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
}

.section4-content-holder ul {
    list-style-type: none;
}

.section4-content-holder ul li {
    display: inline-block;
    margin: 0 40px;
}

.five {
    color: white;
    background-color: #2E2E46;
}

.section5-content {
    width: 260px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 70px;
}

.line {
    width: 275px;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 20px;
    background: white;
}

.long {
    width: 620px;
}

.send-btn {
    color: #2E2E46;
    background-color: white;
    border: 1px solid white;
    padding: 10px 40px;
    margin-bottom: 20px;
}

.section5-info {
    width: 800px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.section5-info p {
    font-size: 12px;
}

.user-input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
}